@use '../abstracts/index' as *;

header {
  display: flex;
  flex-wrap: wrap;
  gap: $Spacing--M;
  justify-content: space-between;
  align-items: center;
  padding: $Spacing--S $Spacing--PageMargin;
  background-color: $Background--Alt;
}

.main-nav {
  &__group {
    display: flex;
    gap: $Spacing--S;
  }
}