@use '../abstracts/index' as *;

@mixin button-primary {
  background: $ButtonBackground--Primary;
  color: $ButtonText--Primary;
}

@mixin button-secondary {
  background: $ButtonBackground--Secondary;
  color: $ButtonText--Primary;
}

@mixin button-small {
  font-size: $FontSize--S;
  border-radius: $BorderRadius--S;
  padding: .5em 1em
}

@mixin button-medium {
  font-size: $FontSize--M;
  border-radius: $BorderRadius--M;
  padding: .5em 1em;
}

@mixin button-full-width {
  width: 100%;
}

@mixin button-hidden-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;
  font-size: .01;
  color: transparent;
  line-height: .01;
}

button {
  background: none;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-size: $FontSize--M;
  line-height: $LineHeight--M;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 0;
  box-shadow: none;
  padding: 0;
}

.button {
  @extend button;

  &--primary {
    @include button-primary();
  }

  &--secondary {
    @include button-secondary();
  }

  &--full-width {
    @include button-full-width();
  }

  &--next-page {
    @include button-primary();
    @include button-full-width();
  }

  &--detail-view {
    @include button-hidden-overlay;
  }

  &--add-to-deck {
    @include button-secondary;
    @include button-small;
    flex: 1;
  }

  &--x-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $Spacing--XS;
    border-radius: 50%;
    background: $ButtonBackground--Primary;
    color: $ButtonText--Primary;
    width: 40px;
    height: 40px;
    margin: 12px 16px;
    z-index: 1;
 
    &::after {
      @include filter-black-to-white(); 
      display: inline-block;
      content: "";
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47.34 47.34'%3E%3Cpolygon points='47.34 4.95 42.39 0 23.67 18.72 4.95 0 0 4.95 18.72 23.67 0 42.39 4.95 47.34 23.67 28.62 42.39 47.34 47.34 42.39 28.62 23.67 47.34 4.95'/%3E%3C/svg%3E");
      width: 1rem;
      height: 1rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

#home-button,
#settings-button { 
  display: block;
  height: 1.5rem;
  width: fit-content;
  border-radius: 50%;

  span {
    @include visually-hidden();
  }

  img {
    height: 100%;
    width: auto;
  }
}

#login-modal-open-button {
  @include button-primary;
  @include button-small;
}

#profile-link {
  @include button-primary;
  @include button-small;
  
  display: none; // hidden until user is logged in
}

#new-deck-button {
  @include button-secondary;
  @include button-small;
}

#add-to-existing-deck-button,
#add-to-new-deck-button {
  @include button-primary;
  @include button-medium;
  flex: 1;
}

#login-modal-sign-in-button,
#save-new-deck-button {
  @include button-primary;
  @include button-full-width;
  @include button-medium;
  margin-top: .5rem;
}

#create-account-button {
  @include button-secondary;
  @include button-full-width;
  @include button-medium;
  margin-top: $Spacing--S;
}

#search-button {
  @include button-primary;
  @include button-medium;
}

#clear-search-button {
  @include button-secondary;
  @include button-medium;
}

#reset-filters-button {
  @include button-secondary;
  @include button-medium;
}

#next-page-button,
#signup-submit-button {
  @include button-primary;
  @include button-full-width;
  @include button-medium;
  margin-top: $Spacing--M;
}

#logout-button {
  @include button-secondary;
  @include button-small;
}

.qty-stepper__btn {
  @include button-medium;
  width: 2em;
  flex-shrink: 0;
  border: $BorderWidth--XS solid $BorderColor--Default;
  background: $White;

  &--decrement {
    border-radius: 80% 4px 4px 80%;
  }

  &--increment {
    border-radius: 4px 80% 80% 4px;
  }
}