@use '../abstracts/index' as *;

.single-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $Spacing--XS;
  background: $Background--Alt;
  //padding: $Spacing--S;
  border-radius: $BorderRadius--L;
  text-align: center;
}

.card {
  &__heading {
    font-size: $FontSize--S;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 0;
  }

  &__image {
    width: 100%;
    border-radius: 4%;
    overflow: clip;
  }

  &__quantity {
    font-size: $FontSize--S;
    margin-top: .25em;
  }

  &__button-row {
    display: flex;
    justify-content: center;
    gap: $Spacing--XS;
  }
}

