@use '../abstracts/index' as *;
@use '../components/button' as *;

.deck-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: $Spacing--M;
  padding: $Spacing--M $Spacing--PageMargin;
  margin: $Spacing--XL 0;
} 

#existing-decks-container {
  margin: 0 0 $Spacing--XL;
}
