@use '../abstracts/index' as *;

// Groups of elements
form {
  display: flex;
  flex-direction: column;
  //gap: $Spacing--M;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.legend {
  display: inline-block; 

  &--small {
    font-size: $FontSize--S;
    font-weight: $FontWeight--Regular;
    margin-bottom: $Spacing--XS;
  }

  &--large {
    font-size: $FontSize--L;
    font-weight: $FontWeight--Bold;
    margin-bottom: $Spacing--S;
  }
}

.form__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: $Spacing--S;
}

// individual elements
label,
.label {
  display: flex;
  flex-direction: column;
  gap: $Spacing--XS;
  font-size: $FontSize--S;
}

label:has(input[type=checkbox]) {
  gap: $Spacing--XS;
}

input, 
select {
  border-radius: $BorderRadius--S;
  border: $BorderWidth--XS solid $BorderColor--Default;
  background: $White;
  padding: .5em;
  width: 100%;
  margin: 0 0 $Spacing--M;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
select {
  line-height: $LineHeight--M;
}

// Remove number input spinners 
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// Firefox
input[type=number] {
  -moz-appearance: textfield;
}
