@use '../abstracts/index' as *;

.modal {
  display: none;

  &.open {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    padding: 3vw;
    background: $Background--ModalScreenLight;
  }

  &__content {
    background: $Background--Surface;
    padding: $Spacing--L;
    border-radius: $BorderRadius--M;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    h2:first-child {
      margin-top: 0;
    }
  }
}

/* Prevent page scroll when modal is open */
.body--no-scroll {
  overflow: hidden;
  /* Optional: lock touch scrolling on mobile */
  position: fixed;
  width: 100%;
}