@use '../abstracts/index' as *;

#search-input {
  width: 100%;
  max-width: 100%;
  font-size: $FontSize--L;
  border-radius: $BorderRadius--M;
  border: $BorderWidth--XS solid $BorderColor--Default;
  background: $Background--Surface;
  height: 2.5em;
  padding: .5em;
}