@use '../abstracts/index' as *;

#search-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  fieldset {
    background: $Background--Alt;
    padding: $Spacing--M;
    border-radius: $BorderRadius--M;
    width: 100%;
    margin: 0 auto;

    fieldset {
      width: fit-content;
    }
  }

  .form__row {
    justify-content: center;
  }
}

#search-input {
  width: 100%;
  max-width: 100%;
  font-size: $FontSize--L;
  border-radius: $BorderRadius--M;
  border: $BorderWidth--XS solid $BorderColor--Default;
  background: $Background--Surface;
  height: 2.5em;
  padding: .5em;
}
