@use '../abstracts/index' as *;

html {
  font-size: 16px;
}
 
* {
  box-sizing: border-box;
  font-size: 1rem;

  :focus {
    outline: 3px solid $BorderColor--Focus;
    outline-offset: 2px;
  }
}

body {
  font-family: $Font--Base;
  font-size: $FontSize--M;
  color: $FontColor--Main;
  background: $Background--Main;
}

main { 
  min-height: 100vh;
}

.wrapper {
  padding: $Spacing--M $Spacing--PageMargin;
}

.wrapper--tight {
  padding: 3vh clamp($Spacing--PageMargin, 6vw, 400px);
  max-width: 600px;
  margin: 0 auto;
}


